<!DOCTYPE html>
<html>
<head>
<title>Employees</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<!-- NAVBAR -->
<nav class="navbar navbar-dark bg-dark p-3">
    <span class="navbar-brand">Employee System</span>
    <div>
        <a href="/dashboard" class="btn btn-secondary btn-sm">Dashboard</a>
        <a href="/logout" class="btn btn-danger btn-sm">Logout</a>
    </div>
</nav>

<div class="container mt-4">

    <h2 class="mb-3">Employees</h2>

    <!-- ADD EMPLOYEE -->
    <div class="card shadow p-3 mb-4">
        <h5>Add Employee</h5>

        <form method="POST" action="/add_employee">
            <div class="row g-2">

                <div class="col">
                    <input name="name" class="form-control" placeholder="Name" required>
                </div>

                <div class="col">
                    <input name="email" class="form-control" placeholder="Email" required>
                </div>

                <div class="col">
                    <input name="department" class="form-control" placeholder="Department">
                </div>

                <div class="col">
                    <input name="role" class="form-control" placeholder="Role">
                </div>

                <div class="col">
                    <button class="btn btn-success w-100">Add</button>
                </div>

            </div>
        </form>
    </div>


    <!-- TABLE -->
    <div class="card shadow p-3">

        <h5>Employee List</h5>

        <table class="table table-hover mt-3">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Department</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for emp in employees %}
                <tr>

                    <form method="POST" action="/update/{{emp.id}}">
                        <td>{{emp.id}}</td>

                        <td><input name="name" value="{{emp.name}}" class="form-control"></td>
                        <td><input name="email" value="{{emp.email}}" class="form-control"></td>
                        <td><input name="department" value="{{emp.department}}" class="form-control"></td>
                        <td><input name="role" value="{{emp.role}}" class="form-control"></td>

                        <td>
                            <button class="btn btn-primary btn-sm">Update</button>
                            <a href="/delete/{{emp.id}}" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </form>

                </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>

</div>

</body>
</html>